* {
    margin: 0;
    padding: 4px 5px 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("./assets/bg.png");
    text-align: center;
}

#heading {
    color: rgb(90, 37, 192);
    font-size: 50px;
}

/* common for game and index */
.flex {
    display: flex;
}

/* common for game and index */
.main-div {
    justify-content: space-around;
}

#img-div {
    margin-top: 10px;
}

#play-div {
    align-self: flex-end;
    width: 20%;
}

#play-button {
    width: 50px;
    height: 50px;
    padding: 1%;
}

#play-button + p {
    align-self: flex-end;
    padding: 10px;
    font-weight: 600;
}

/* common for game and index */
.text {
    color: white;
}

/* common for game and index */
.pointer {
    cursor: pointer;
}


/* game.html */
#score {
    font-size: 60px;
    font-weight: 900;
}

.player-div {
    border: 1px solid yellow;
    height: 75vh;
}

.player {
    font-size: 30px;
    font-weight: 700;
}

.gesture-img {
    display: none;
}


#result-div {
    display: none;
}

#play-again-button {
    color: white;
    background-color: rgb(232, 205, 3);
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 30px;
    margin: 1%;
    padding: 4px;
    border-radius: 5px;
}